
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    background-color: #F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%;
    width: 1200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container {
    flex-grow: 1;

}
.main-header {
    background-color: #ffffff;
    color: #000000;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
    color: inherit;
    padding: 20px 17px;
    display: block;
}

.navigation-list {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.actions-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 305px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-width: 42px;
    min-height: 66px;
}

.actions-link {
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 20px 17px;
    display: block;
}

.promo {
    background-image: url(../images/welcome/index-background.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: 100% auto;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}

.advantages-header {
    text-align: center;
    padding-top: 63px;
    padding-bottom: 90px;
}

.advantages-description {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: pre-line;
}

.advantages-reasons {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin-top: 31px;
    margin-bottom: 0;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    width: 230px;
    padding: 102px 85px;
    margin: 0;
    white-space: pre-line;
    max-height: 200px;
}

.advantages-number {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
.advantages-item-wrapper .advantages-item {
    padding: 92px 85px;
}

.advantages-item-wrapper .advantages-item-description {
    color: #ffffff;
}

.advantages-item-description,
.advantages-mini .advantages-item-description {
    color: #333333;
    margin: 0;
}

.advantages-mini .advantages-item {
    padding: 80px 85px;
}

.advantages-mini .advantages-title {
    margin-bottom: 30px;
    margin-top: 30px;
}

.advantages-item-wrapper,
.button-subscribe,
.button-social {
    /* text-align: center; */
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.img-city {
    display: block;
    list-style-type: none;
}

.container-city {
    display: flex;
    justify-content: space-between;
}

.container-bridge {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.img-bridge {
    display: block;
}

.advantages-title {
    display: block;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.advantages-item:nth-child(2n+1){
    background-color: rgba(131, 179, 211, 0.12);
 }

 .advantages-item-wrapper .advantages-mini {
    color: #000000;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
 }

 .deep-background {
    background-color: rgba(131, 179, 211, 0.2);;
 }

 .search-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 91px;
    padding-bottom: 93px;
 }

 .search-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
 }

 .search-description {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    white-space: pre-line;
    padding-top: 29px;
    margin: 0;
    padding-bottom: 56px;
 }

 .subscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(/images/subscibe-background.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #000000;
    padding: 94px 0;
 }

 .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 29px;
 }

 .subscribe-description {
    font-size: 22px;
    line-height: 26px;
    white-space: pre-line;
    margin: 0;
    padding-bottom: 46px;
 }

 .field {
    font-family: inherit;
    color: inherit;
 }

 .footer-link-phone {
    background-color: inherit;
    color: inherit;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
 }

 .page-footer-container {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 100%;
 }

 .footer-social {
    max-width: 210px;
 }

 .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
 }

 .social-item {
    width: 48px;
    height: 40px;
    margin: 0;
 }

 .footer-site {
    max-width: 115px;
 }

 .inner-header {
    background-image: url(../images/catalog/catalog-background.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: 100% auto;
 }

 .inner-container {
    max-width: 100%;
    padding: 35px 70px 70px;
 }

 .inner-header-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
 }

 .breadcrumbs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
 }

 .breadcrumbs-link {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    margin-right: 25px;
 }

 .catalog-filter {
    display: flex;
 }

 .catalog-filter-group {
    margin-right: 70px;
 }

 .price-form {
    margin-left: 106px;
 }

 .catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
 }

 .button-submit,
 .hotel-card-favorite.button {
    background-color: #82B3D3;
    text-align: center;
 }

 .button-reset {
    font-weight: 400;
    background-color: unset;
    text-transform: none;
 }

.catalog-options {
    color: #333333;
}

.count-options {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    padding: 0;
    margin: 0;
}

.select-container {
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 76px 72px;
}

.catalog-options .select-control {
    font-family: inherit;
    color: inherit;
    width: 290px;
    margin-left: 191px;
}

.change-view .button {
    color: #000000;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
}

.change-view {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    width: 160px;
    margin-left: auto;
}

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    padding: 0;
    margin: 0 93px;
    list-style-type: none;
    gap: 58px;
    margin-bottom: 86px;
}

.hotel-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 211px min-content min-content min-content auto;
    grid-template-areas: "image image"
                         "title title"
                         "type price"
                         "more favorite"
                         "stars rate";
    row-gap: 16px;
    column-gap: 20px;
}

.hotel-card-image-link {
    grid-area: image;
}
.hotel-card-title-link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: inherit;
    grid-area: title;
}

.hotel-card-type {
    grid-area: type;
    margin: 0;
}

.hotel-card-price {
    grid-area: price;
    margin: 0;
}

.hotel-card-more {
    grid-area: more;
}

.hotel-card-favorite {
    grid-area: favorite;
}

.stars {
    grid-area: stars;
}

.hotel-rating {
    grid-area: rate;
    margin: 0;
    text-transform: uppercase;
}

.hotel-card-title {
    margin: 0;
    padding: 0;
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.hotel-card .button-favorite {
    background-color: #7DB54F;
}

.pagination-container {
    display: flex;
    max-width: 100%;
    padding: 0 72px;
    padding-bottom: 25px;
}

.pagination {
    display: flex;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pagination-link,
.pagination-show {
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    display: block;
    width: 60px;
    height: 60px;
    padding: 12px 24px;
    box-sizing: border-box;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}
.pagination-current {
    color: #000000;
    background-color: #ffffff;
}

.card-amount-description {
    margin-left: auto;
}

.select-amount {
    margin-left: 51px;
    font-family: inherit;
    color: inherit;
}

.subscribe-catalog {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
}

.subscribe-catalog .subscribe-description {
    color: #333333;
}
