
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    background-color: #F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container {
    flex-grow: 1;
}
.main-header {
    background-color: #ffffff;
    color: #000000;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.navigation-list{
    width: 500px;
    margin: 0;
    padding: 0;
}

.actions-list {
    margin-left: auto;
    max-width: 305px;
    margin: 0;
    padding: 0;
}

.actions-link {
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.promo {
    background-image: url(../images/welcome/index-background.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: 100% auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.advantages-header {
    text-align: center;
}

.advantages-description {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: pre-line;
}

.advantages-reasons {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-item {
    text-align: center;
    width: 230px;
    padding: 85px;
    margin: 0;
}

.advantages-item-wrapper .advantages-item-description {
    color: #ffffff;
}

.advantages-item-description,
.advantages-mini .advantages-item-description {
    color: #333333;
}

.advantages-item-wrapper,
.button-subscribe,
.button-social {
    /* text-align: center; */
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-wrapper {
    width: 1200px;
}

.img-city {
    display: block;
    list-style-type: none;
}

.container-city {
    display: flex;
    justify-content: space-between;
}

.container-bridge {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.img-bridge {
    display: block;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item:nth-child(2n+1){
    background-color: rgba(131, 179, 211, 0.12);
 }

 .advantages-item-wrapper .advantages-mini {
    color: #000000;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
 }

 .deep-background {
    background-color: rgba(131, 179, 211, 0.2);;
 }

 .search-options {
    text-align: center;
 }

 .search-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
 }

 .search-description {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
 }

 .subscribe {
    text-align: center;
    background-image: url(/images/subscibe-background.jpg);
    color: #ffffff;
    background-color: #000000;
 }

 .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
 }

 .subscribe-description {
    font-size: 22px;
    line-height: 26px;
 }

 .field {
    font-family: inherit;
    color: inherit;
 }

 .footer-link-phone {
    background-color: inherit;
    color: inherit;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
 }

 .page-footer-container {
    display: flex;
    margin: 0 70px;
    width: 1060px;
 }

 .footer-social {
    margin-right: 237px;
    max-width: 150px;
 }

 .footer-site {
    margin-left: auto;
    max-width: 115px;
 }

 .inner-header {
    background-image: url(../images/catalog/catalog-background.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: 100% auto;
 }

 .inner-container {
    margin: 0 70px;
 }

 .inner-header-title {
    font-size: 60px;
    line-height: 78px;
 }

 .breadcrumbs-link {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
 }

 .catalog-filter {
    display: flex;
    width: 1060px;
 }

 .catalog-filter-group {
    margin-right: 70px;
 }

 .price-form {
    margin-left: 106px;
 }

 .catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
 }

 .button-submit,
 .card-second-column .hotel-card-button {
    background-color: #82B3D3;
    text-align: center;
 }

 .button-reset {
    font-weight: 400;
    background-color: unset;
    text-transform: none;
 }

.catalog-options {
    color: #333333;
}

.count-options {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-options .select-control {
    font-family: inherit;
    color: inherit;
}

.change-view .button {
    color: #000000;
    background-color: #ffffff;
}

.change-view {
    font-family: inherit;
}

.hotel-card-link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: inherit;
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.card-second-column .button-favorite {
    background-color: #7DB54F;
}

.pagination {
    background-color: #ffffff;
}

.pagination-link,
.pagination-show {
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
}

.pagination-current {
    color: #000000;
    background-color: #ffffff;
}

.select-amount {
    font-family: inherit;
    color: inherit;
}

.subscribe-catalog {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
}

.subscribe-catalog .subscribe-description {
    color: #333333;
}
