@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  min-height: 100%;
  min-width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
}

.button {
  display: inline-block;
  font-family: inherit;
  box-sizing: border-box;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  padding: 0 70px;
  margin: 0 auto;
  margin-bottom: -10px;
}

.navigation-logo-link {
  margin-right: 30px;
  z-index: 1;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding: 20px 17px;
  display: block;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.action-icon:hover {
  fill: rgba(0, 0, 0, 0.6);
}

.navigation-item {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 18px;
  bottom: 10px;
  left: 18px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-list {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.actions-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 305px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  min-width: 42px;
  min-height: 66px;
  align-items: center;
  padding-bottom: 5px;
}

.actions-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 24px 12px;
  display: block;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.favorite-counter {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.1em;
  left: 24px;
  top: 15px;
}

.button-action {
  min-width: 160px;
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 5px;
}

.button:hover,
.button:focus {
  background-color: #615048;
  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-action:active {
  background-color: #756157;
}

.button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button:disabled:hover {
  outline: none;
  cursor: default;
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.promo {
  position: relative;
  background-image: url("../images/welcome/index-background.jpg");
  background-color: rgba(131, 179, 211, 0.5);
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: 100% auto;
}

.promo-devider {
  display: block;
}

.promo::before {
  position: absolute;
  content: "";
  background-image: url("../images/welcome/divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages-header {
  text-align: center;
  padding-top: 63px;
  padding-bottom: 90px;
}

.advantages-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  white-space: pre-line;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 31px;
  margin-bottom: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 230px;
  padding: 102px 85px;
  margin: 0;
  white-space: pre-line;
}

.advantages-number {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-item-wrapper .advantages-item {
  padding: 92px 85px;
}

.advantages-item-wrapper .advantages-item-description {
  color: #ffffff;
}

.advantages-item-description,
.advantages-mini .advantages-item-description {
  color: #333333;
  margin: 0;
}

.advantages-mini .advantages-item {
  padding: 0 85px;
  padding-top: 182px;
  padding-bottom: 81px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 80px;
}

.house {
  background-image: url("../images/advantages/icon-house.svg");
}

.eat {
  background-image: url("../images/advantages/icon-food.svg");
}

.souvenir {
  background-image: url("../images/advantages/icon-souvenir.svg");
}

.advantages-mini .advantages-title {
  margin-bottom: 30px;
}

.advantages-item-wrapper,
.button-subscribe,
.button-social {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.advantages-img {
  display: block;
  list-style-type: none;
  object-fit: contain;
  max-width: 800px;
}

.container-city {
  display: flex;
  justify-content: space-between;
}

.container-bridge {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.advantages-title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wrapper .advantages-mini {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.deep-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-options {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.search-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 28px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 56px;
  padding-left: 288px;
  padding-right: 296px;
}

.button-search {
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 574px;
  font-size: 20px;
  line-height: 36px;
}

.button-search:active {
  background-color: #756157;
}

.subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/images/subscibe-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  padding: 94px 0;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  white-space: pre-line;
  margin: 0;
  padding-bottom: 46px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.field {
  box-sizing: border-box;
  border: none;
  font-family: inherit;
  width: 600px;
  margin: 0;
  padding: 20px 22px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  line-height: 21px;
}

.button-subscribe {
  line-height: 36px;
  min-width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #68A2CA;
}

.button-subscribe:active {
  background-color: #82B3D3;
}

.footer-link-phone {
  background-color: inherit;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  max-width: 100%;
}

.footer-social {
  max-width: 150px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
}

.footer-phone {
  margin: 0;
  padding: 5px 0;
}

.social-item {
  width: 48px;
  height: 40px;
  margin: 0;
  display: block;
  align-self: center;
}

.button-social {
  height: 14px;
  padding: 13px 12px;
  position: relative;
  background-color: #ffffff;
  display: block;
}

/* Состояния для социальных сетей */

.social-icon:hover,
.social-icon:focus {
  fill: #68A2CA;
  outline: none;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-link-phone:hover,
.footer-link-phone:focus {
  color: #756157;
  border: none;
}

.footer-link-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-site {
  max-width: 115px;
  padding: 8px 0;
}

.htmlacademy-link-logo:hover,
.htmlacademy-link-logo:focus {
  fill: #756157;
  border: none;
}

.htmlacademy-link-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: rgba(131, 179, 211, 0.6);
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
}

.inner-container {
  max-width: 100%;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-left: 2px;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}

.breadcrumbs-arrow {
  background-image: url("../images/catalog/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center left 22px;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

.breadcrumbs-link:hover .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.price-form {
  margin-left: 106px;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  padding-bottom: 30px;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 15px;
}

.price-form .catalog-filter-title {
  margin-bottom: 34px;
  padding: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 0;
  box-sizing: border-box;
}

.filter-main-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.range-input {
  box-sizing: border-box;
  text-align: left;
  font: inherit;
  color: #ffffff;
  font-weight: 400;
  width: 144px;
  padding: 9px 14px 15px 17px;
  border: 2px solid #FFFFFF;
  background-color: unset;
  font-family: inherit;
  appearance: textfield;
  border-radius: 0 4px 4px 0;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input::placeholder {
  display: inline-block;
  text-align: right;
  font-size: 18px;
  line-height: 21px;
}

.range-scale {
  position: relative;
  height: 0;
  background-color: unset;
  border: 2px solid rgba(255, 255, 255, 0.3);
  top: -7px;
}

.range-bar {
  position: absolute;
  height: 0;
  top: -1px;
  border: 2px solid #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-input:hover {
  opacity: 0.6;
}

.range-input:focus {
  box-shadow: 0 0 0 3px #81B3D2;
  outline: 2px solid #81B3D2;
}

.range-input:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
}

.toggle-min {
  top: -10px;
  left: -4px;
}

.toggle-max {
  top: -10px;
  right: -5px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 41px;
}

.control-mark {
  position: absolute;
  display: block;
  top: 0;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

/* Состояния для элементов фильтра */

.control:hover .control-mark,
.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  background-image: url("../images/catalog/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  padding: 5px 4px;
  width: 12px;
  height: 10px;
  color: #3F5E72;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.type-house:focus-within .control-mark {
  outline: 3px solid #83B3D3;
  background-color: #ffffff;
  box-sizing: border-box;
}

.type-house:hover .control-mark,
.type-house:active .control-mark {
  background-color: #FFFFFF;
}

.control-label {
  line-height: 21px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-submit,
.hotel-card-favorite.button {
  background-color: #82B3D3;
  text-align: center;
  padding: 8px 15px;
}

.button-submit {
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 160px;
  margin-bottom: 20px;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #68A2CA;
}

.button-reset {
  font-weight: 400;
  background-color: unset;
  text-transform: none;
  padding: 0;
}

.button-reset:hover,
.button-reset:active {
  background-color: unset;
  color: #FFFFFF;
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  background-color: unset;
}

.catalog-options {
  position: relative;
  color: #333333;
}

.count-options {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.select-container {
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 77px 72px;
  padding-top: 55px;
  align-items: center;
}

.catalog-options .select-control {
  font-family: inherit;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 12px 20px;
  padding-right: 103px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: auto;
  appearance: none;
  background-image: url("../images/catalog/arrow-type.svg");
  background-repeat: no-repeat;
  background-position: 94% center;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.change-view .button {
  color: #000000;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  padding: 13px 15px;
  border: 2px solid #E5E5E5;
}

.change-view .current {
  border: 2px solid #000000;
}

.change-view .button:hover,
.change-view .button:active {
  border: 2px solid #000000;
}

.change-view .button:focus {
  border: 2px solid #68A2CA;
}

.change-view {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  width: 160px;
  margin-left: 78px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  padding: 0;
  margin: 0 93px;
  list-style-type: none;
  row-gap: 40px;
  column-gap: 58px;
  margin-bottom: 116px;
}

.catalog-options::after {
  content: "";
  position: absolute;
  height: 0;
  left: 72px;
  right: 72px;
  bottom: 115px;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 211px min-content min-content min-content 36px;
  grid-template-areas: "image image"
    "title title"
    "type price"
    "more favorite"
    "stars rate";
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-card-image {
  object-fit: contain;
  max-width: 300px;
}

.hotel-card-image-link {
  grid-area: image;
}

.hotel-card-title-link {
  text-decoration: none;
  color: inherit;
  grid-area: title;
}

.hotel-card-title:hover {
  color: rgba(0, 0, 0, 0.7);
}

.hotel-card-type {
  grid-area: type;
  margin: 0;
}

.hotel-card-price {
  grid-area: price;
  margin: 0;
}

.hotel-card-more {
  grid-area: more;
  padding: 8px 15px;
}

.hotel-card-favorite {
  grid-area: favorite;
}

.stars {
  grid-area: stars;
  background-position: left center;
  display: block;
  margin-top: 10px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.hotel-rating {
  grid-area: rate;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  padding: 8px 22px;
  padding-top: 10px;
}

.stars-four {
  background-image: url("../images/catalog/star-rating.svg");
  background-repeat: space;
  width: 90px;
  height: 17px;
  background-size: 19px 17px;
}

.stars-three {
  background-image: url("../images/catalog/star-rating.svg");
  background-repeat: space;
  background-size: 18px 17px;
  height: 18px;
  width: 66px;
}

.stars-two {
  background-image: url("../images/catalog/star-rating.svg");
  background-repeat: space;
  background-size: 18px 17px;
  height: 18px;
  width: 42px;
}

.hotel-card-favorite:hover,
.hotel-card-favorite:focus {
  background-color: #68A2CA;
}

.hotel-card-favorite:active {
  background-color: #82B3D3;
}

.hotel-card .button-favorite {
  background-color: #7DB54F;
}

.button-favorite:hover,
.button-favorite:focus {
  background-color: #6C9E42;
}

.button-favorite:active {
  background-color: #7DB54F;
}

.pagination-container {
  display: flex;
  max-width: 100%;
  padding: 2px 73px;
  padding-bottom: 25px;
}

.pagination {
  display: flex;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-link,
.pagination-show {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: block;
  width: auto;
  height: 60px;
  padding: 12px 24px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-item:not(:first-child) .pagination-link:hover,
.pagination-item:not(:first-child) .pagination-link:focus,
.pagination-show:hover,
.pagination-show:focus {
  background-color: #68A2CA;
}

.pagination-item:not(:first-child) .pagination-link:active,
.pagination-show:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:last-child .pagination-link {
  padding: 12px 19px;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.card-amount-description {
  margin-left: auto;
  padding-top: 5px;
}

.pagination-container .select-amount {
  margin-right: 0;
  margin-left: 51px;
  padding-right: 127px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-top: 13px;
  appearance: none;
  background-image: url("../images/catalog/arrow-type.svg");
  background-repeat: no-repeat;
  background-position: 88% center;
}

.subscribe-catalog {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.subscribe-catalog .subscribe-description {
  color: #333333;
}

/* Стили для модального окна */

.modal-container {
  display: grid;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 575px;
}

.modal-tittle {
  margin: 0;
  padding: 0;
  margin-bottom: 63px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
  margin-top: 54px;
  margin-right: 70px;
  border-radius: 50%;
  border: none;
  background: #F2F2F2 var(--icon) no-repeat center / 13px;
}

.close {
  --icon: url("../images/modal/modal-close.svg");
}

.modal-close-button:hover,
.button-date:hover,
.text-input:hover,
.text-input:hover + .button-date,
.text-input:focus + .button-date {
  background-color: #E6E6E6;
}

.modal-close-button:focus,
.button-date:focus,
.text-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.text-input:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  opacity: 1;
}

.text-input:active + .button-date {
  background-color: #ffffff;
}

.modal-close-button:active,
.button-date:active {
  opacity: 0.3;
}

.modal-row {
  font-family: inherit;
  position: relative;
  display: grid;
  grid-template-columns: 144px 123px auto;
  gap: 11px;
  align-items: center;
}

.arrival-date,
.departure-date {
  font-weight: 700;
  grid-column: 1/2;
  font-size: 20px;
  line-height: 26px;
}

.text-input {
  position: relative;
  grid-column: 2/4;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 14px 0 11px 19px;
  border: none;
}

.text-input::placeholder {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.6;
}

.button-date {
  position: absolute;
  box-sizing: border-box;
  top: 18px;
  right: 0;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border: none;
  background: #F2F2F2 var(--icon) no-repeat center / 13px;
}

.calendar {
  --icon: url("../images/modal/calendar.svg");
}

.text-date {
  grid-column: 2/4;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  color: #FF5757;
  align-self: center;
  margin-bottom: 11px;
}

.text-date-two {
  grid-column: 2/4;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  align-self: center;
  color: #333333;
  margin-bottom: 11px;
}

.field-modal-main {
  display: grid;
  grid-template-columns: 291px 228px;
  column-gap: 55px;
  margin-bottom: 38px;
}

.field-modal {
  display: flex;
}

.field-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 5px 0;
  color: #000000;
  align-self: center;
}

.tooltip {
  position: absolute;
  margin-top: 2px;
  margin-left: 6px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83B3D3;
  display: block;
  margin-right: 18px;
  margin-top: 1px;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #68A2CA;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  padding: 17px 22px;
  width: 256px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-right: 18px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/modal/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.field-box {
  order: 2;
  display: grid;
  grid-template-columns: 50px 33px 50px;
  margin-left: auto;
}

.field-button {
  display: flex;
  z-index: 1;
  place-items: center;
  place-self: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  opacity: 0.3;
}

.field-button::before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--icon) no-repeat center / contain;
}

.minus {
  --icon: url("../images/modal/minus.svg");
  grid-area: 1 / 1 / 2 / 2;
}

.plus {
  --icon: url("../images/modal/plus.svg");
  grid-area: 1 / 3 / 2 / 4;
}

.field-button:hover {
  opacity: 1;
}

.field-button:focus {
  opacity: 0.3;
  outline: 3px solid #83B3D3;
}

.field-button:active {
  opacity: 0.2;
}

.field-number {
  box-sizing: border-box;
  appearance: textfield;
  grid-area: 1 / 1 / 2 / 4;
  width: 133px;
  padding: 15px 60px;
  text-align: center;
  border-radius: 4px;
  background-color: #F2F2F2;
  border: none;
  font-size: 18px;
  line-height: 21px;
}

.field-number::-webkit-outer-spin-button,
.field-number::-webkit-inner-spin-button {
  display: none;
}

.field-number::placeholder {
  color: inherit;
  opacity: 0.6;
}

.field-number:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.field-number:hover {
  opacity: 0.3;
}

.field-number:active {
  opacity: 0.2;
}

.find {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 10px;
  padding: 12px 26px;
}

.find:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.find:hover {
  background: #68A2CA;
}
